/* TO DO 
add variables to make it so the tabs can be different colors
add the rest of the file, words */

body {
    background-color: blanchedalmond;
}

.tabs {
    display: flex;
    margin-left: 10px;
}

.tab {
    display: flex;
}

.middle {
    height: 35px;
    width:150px;
    background-color: pink;
    border-radius: 15px 15px 0 0;
    position: relative;
    left: -3.4px;
}

.edge {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-bottom: 30px solid pink;
    position: relative;
    transform: translateY(5px);
}

#right-tab-edge {
    transform: scaleX(-1) translateY(5px)  translateX(7px); 
}


.file {
    background-color: pink;
    width: 98vw;
    height: 500px;
    margin-top: 0;
    padding: 20px;
}

table {
    width: 95%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: ghostwhite;
}

tr:nth-child(even) {
    background-color: ghostwhite;
}

.tab-path {
    background-color: grey;
    height: 75px;
    width: 200px;
    clip-path: path('m 0 90 q 10 0 20 -10 l 30 -40 q 10 -10 30 -10 h 70 q 20 0 30 10 l 30 40 q 10 10 20 10');
}