/* TO DO 
add variables to make it so the tabs can be different colors
add the rest of the file, words */

body {
    background-color: blanchedalmond;
    display: flex;
}

.tab {
    display: flex;
}

.middle {
    height: 35px;
    width:150px;
    background-color: pink;
    border-radius: 15px 15px 0 0;
    position: relative;
    left: -3.4px;
}

.edge {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-bottom: 30px solid pink;
    position: relative;
    transform: translateY(5px);
}

#right-tab-edge {
    transform: scaleX(-1) translateY(5px)  translateX(7px); 
}
