{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'inventory/js/inventory.js' %}"></script>
    <title>Inventory</title>
</head>
<body>
<div id="wrapper">
<div id="header">
    <div id="tabs">
        <a href="{% url 'index' %}?selected=inventory" id="inventory">Inventory</a>
        <a href="{% url 'index' %}?selected=requests" id="requests">Request</a>
        <a href="{% url 'index' %}?selected=add_item" id="addItem">Add Item</a> 
    </div>
</div>

<div id="content"> 
{% include defaultURL %}
</div>

</div>


</body>
</html>