<form method="post" id="form"> {% csrf_token %}
<table>
    <thead>
        <th>Inventory</th>
        <tr>
            <th>Item</th>
            <th>Amount</th>
            <th></th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>   
        <tr>
            <td>{{ form.item }}</td>
            <td>{{ form.amount }}</td>
            <td>{{ form.unit }}</td>
            <td>{{ form.location_name }}</td>
            <td><input type="submit" value="Submit"></td>           
        </tr>
        {% for item in data %}
            <tr>
                <td>{{ item.item }}</td>
                <td>{{ item.amount }}</td>
                <td>{{ item.unit }}</td>
                <td>{{ item.location_name }}</td>
            </tr>
        {% endfor %}

</form>