<form method="post" id="onRequestForm"> {% csrf_token %}
    <table>
        <thead>
            <th>Requests</th>
            <tr>
                <th>Item</th>
                <th>Amount</th>
                <th></th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>   
            <tr>
                <td>{{ form.item }}</td>
                <td>{{ form.amount }}</td>
                <td>{{ form.unit }}</td>
                <td>{{ form.status }}</td>
                <td><input type="submit" value="Submit"></td>           
            </tr>
            {% for item in data %}
                <tr>
                    <td>{{ item.item }}</td>
                    <td>{{ item.amount }}</td>
                    <td>{{ item.unit }}</td>
                    <td>{{ item.status }}</td>
                </tr>
            {% endfor %}
    
    </form>